---
#
# Common styles used by the whole website.
# This is SCSS (preprocessor CSS).
#
# Overwrites some classes from BootstrapJS and HighlightJS.
# JavaScript might eventually overwrite some of these styles
# dynamically. Classes are usually preferred over ids.
#
---

@charset "utf-8";
@import "common";

// ========================================================
// Reset some basic elements:
// ========================================================

body {
    font-family: $site-base-font-family;
    font-weight: $site-base-font-weight;

    @include my-site-body;
}

header {
    color: $headings-color;
    p {
        color: $text-color;
    }
}

hr {
    color: $separator-color;
    background-color: $separator-color;
    border-top: 1px solid $separator-color;
}

pre {
    border: none;
    color: $text-color;
    background-color: $code-pre-quote-background-color;
}

pre, code {
    font-size: 13px;
}

code {
    background-color: rgba(200, 200, 200, 0.2);
    color:            rgb(170, 195, 188);
}

.highlight {
    // Color set here will be the background color of code snippets.
    pre {
        background-color: $code-pre-quote-background-color;
        color:            rgb(170, 195, 188);
    }
}

pre {
    code {
        display:       inline-block;
        white-space:   pre;
        border-radius: 0;
    }

    border-radius: 0;
    margin-bottom: 10px;
    margin-top:    10px;
}

table {
    border-top:    2px solid rgb(119, 119, 119);
    border-bottom: 2px solid rgb(119, 119, 119);
    margin:        8px 0;

    thead {
        border-bottom:    1px dashed rgb(119, 119, 119);
        background-color: $background-color;
        color:            $text-color;
    }

    td {
        padding: 2px 10px;
        vertical-align: top;
    }

    th {
        padding: 2px 10px;
    }

    tr {
        &:nth-child(2n) {
            background-color: $navbar-background-color;
        }
    }
}

blockquote {
    color:        $text-blockquote-color;
    background:   $code-pre-quote-background-color;
    border-left:  5px solid rgb(214, 219, 223);
    padding-left: 15px;
    font-size:    16px;
    &:last-child { margin-bottom: 0; }
}

h1, h2, h3, h4, h5, h6 {
    text-align:    left;   // Keep the headings left-aligned
    font-weight:   normal; // Normal font for headings
    margin-top:    20px;
    margin-bottom: 15px;
    color:         $headings-color;
}

// Make sure code markups inside headings use the proper font size:
h1 code { font-size: inherit; }
h2 code { font-size: inherit; }
h3 code { font-size: inherit; }
h4 code { font-size: inherit; }
h5 code { font-size: inherit; }
h6 code { font-size: inherit; }

// Custom HR, used in the index page.
.my-hr {
    height: 1px;
    border: none;
    color:  $separator-color;
    background-color: $separator-color;
}

// ========================================================
// Links/anchors:
// ========================================================

// Ordinary links:
a:link    { color: $link-color; }
a:visited { color: $link-visited-color; }
a:active  { color: $link-active-color; }
a:hover   { color: $link-hover-color; text-decoration: underline; }

// Links with code markup get the same font
// color and decoration of ordinary links:
a:link    code { color: $link-color; }
a:visited code { color: $link-visited-color; }
a:active  code { color: $link-active-color; }
a:hover   code { color: $link-hover-color; text-decoration: underline; }

// Main post index links:
#index a:link    { color: $link-color; }
#index a:visited { color: $link-visited-color; }
#index a:active  { color: $link-active-color; }
#index a:hover   { color: $link-hover-color; text-decoration: none; }

// ========================================================
// Embedded videos / iframes:
// ========================================================

.embedded-video {
    // For embedded YouTube videos:
    width:            100%;
    margin-top:       10px;
    margin-bottom:    25px;
    position:         relative;
    vertical-align:   middle;
    color:            $background-color;
    background-color: $background-color;
    border:           2px solid $text-color;
    border-radius:    10px;

    // Shadow like other images.
    //@include my-box-shadow;
}

#cv-frame {
    // Sizes of the iframe where I display the Curriculum doc.
    width:  100%;
    height: 1000px;
}

// ========================================================
// Nav-bar / site logo:
// ========================================================

.navbar {
    // Nav-bar inherits from Bootstrap, which
    // has a rounded border by default.
    border:        none;
    border-radius: 0;

    color:            $navbar-background-color;
    background-color: $navbar-background-color;

    @include my-box-shadow;
}

.navbar-nav li {
    width:      95px;
    text-align: center;
}

.navbar-inverse .navbar-nav li a {
    color: $navbar-text-color;
    background-color: transparent !important;
}

.navbar-inverse .navbar-nav li a:hover {
    color: $link-hover-color !important;
}

.navbar-text {
    font-size: 16px;
}

.navbar-inverse .navbar-text {
    color: $navbar-text-color;
}

.navbar-brand {
    font-size: 26px;
}

.navbar-inverse .navbar-brand {
    color: $navbar-text-color;
}

.navbar-inverse .navbar-brand:hover {
    color: $link-hover-color !important;
}

// A couple tweaks in the drop-down menu...
.dropdown-menu {
    li { width: auto; }
    border-radius: 0;
}

// Big banners at the main page:
.my-banner {
    margin:   auto;
    width:    100%;
    border:   none;
    position: relative;
}

// Big banner border/box:
#my-banner-container {
    width:  100%;
    height: 100%;
    border: 5px solid white;
    background-color: rgb(210, 210, 210);

    //@include my-box-shadow;
}

// Tiny logo in the nav bar:
#site-logo-navbar {
    width:   54px;
    height:  54px;
    padding: 0;
    margin:  0px 22px 0px 15px;
    border:  none;
    float:   left;
}

// ========================================================
// Main index / post area:
// ========================================================

.main {
    min-height: 800px;
}

.post {
    padding:     10px 30px;
    font-size:   16px;
    line-height: 1.5;
}

.post-area {
    margin:     auto;
    max-width:  800px;
    text-align: justify; // Justify the post body
}

.post-list-header {
    padding:       15px 30px;
    font-size:     30px;
    font-weight:   bold;
    color:         $headings-color;
}

.post-list-item-text {
    position: inherit;
    width:    auto;
    top:      10%;
}

.post-list-item {
    display:       block;
    position:      relative;
    padding:       10px 15px 0px 15px;
    height:        158px;

    // Separator after each item?
    //border-bottom: 1px solid $separator-color;

    @include my-mouse-hover-transition;

    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }

    &:last-of-type {
        border-bottom: none;
    }

    h2 {
        font-size:  22px;
        margin-top: 0;
    }
}

.post-subheading {
    display:       inline-block;
    text-align:    left;
    margin-top:    4px;
    margin-bottom: 4px;
    color:         $text-color;
}

// ========================================================
// Inner-post images and the main index thumbnail:
// ========================================================

.post {
    img {
        width:            100%;
        vertical-align:   middle;
        position:         relative;
        background-color: $background-color;
        margin-top:       10px;

        border-bottom: 4px solid $background-color;
        border-bottom-width: 35px;

        //@include my-box-shadow;
    }
}

img + em {
    // This is a hack used for image captions. This selector
    // will affect only the <em>s that follow and image.
    // Images missing a caption get one dynamically via JS
    // when the page loads, using the image title text.

    position:        relative;
    font-size:       14px;
    font-weight:     normal;
    font-family:     monospace;
    font-style:      normal;
    text-decoration: none;
    text-align:      justify;
    margin-right:    5px;
    margin-left:     5px;
    top:            -28px;
    color:           $text-color;

    @include my-display-flex-center-align;
}

.post-thumbnail {
    float:        left;
    width:        220px;
    height:       140px;
    margin-right: 20px;

    //@include my-box-shadow;
}

.post-thumbnail-image {
    width:  inherit;
    height: inherit;

    // Add border to thumbnails?
    border: 2px solid $background-color;
    border-radius: 10px;

    // Thumbnails are lazily loaded by JavaScript,
    // so the images are initially hidden.
    display: none;
}

// ========================================================
// Explicitly sized images (centered in parent container):
// ========================================================

.image512 {
    width:         auto;
    height:        auto;
    max-width:     512px;
    max-height:    512px;
    position:      relative;
    display:       table;
    margin:        auto;
    margin-bottom: 8px;
}

.image300 {
    width:         auto;
    height:        auto;
    max-width:     300px;
    max-height:    300px;
    position:      relative;
    display:       table;
    margin:        auto;
    margin-bottom: 8px;
}

// Tiny Work In Progress icon we sometimes use in the tutorials page
#wip-icon-image {
    vertical-align: middle;
    position:       initial;
    border:         none;
    margin:         auto 5px auto 5px;
    max-width:      100px;
    max-height:     20px;

    // Disable the shadow style used by most images:
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
         -o-box-shadow: none;
            box-shadow: none;
}

// ========================================================
// Paginator stuff:
// ========================================================

.paginator {
    text-align:  center;
    padding:     15px 20px;
    font-size:   16px;
    font-weight: normal;

     a {
        text-decoration: underline;
        margin:          0 12px;
     }
}

// ========================================================
// Categories list:
// ========================================================

.categories-list-header {
    display:       block;
    padding:       12px 15px;
    padding-top:   37px;
    border-bottom: 1px solid $separator-color;
    font-size:     16px;
    font-weight:   bold;
    color:         $text-color;
}

.categories-list-item {
    display:       block;
    padding:       8px 15px;

    // Add a separator between each category tag?
    //border-bottom: 1px solid $separator-color;

    @include my-mouse-hover-transition;

    &:last-of-type {
        border-bottom: none;
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
        color:            rgb(153, 136, 51);
    }

    .my-badge {
        float:              right;
        font-size:          12px;
        color:              $text-color;
        background-color:   $code-pre-quote-background-color;
        padding:            0 7px 1px 7px;
        border-radius:      9px;

        @include my-mouse-hover-transition;
    }
}

// ========================================================
// Page content:
// ========================================================

.page-content table {
    border-top:    1px dashed rgb(221, 221, 221);
    border-bottom: 1px dashed rgb(221, 221, 221);
    margin:        20px 0;
}

.page-content table tr td {
    vertical-align: top;
    padding:        6px 10px;
}

.page-content table tr td:first-of-type {
    padding:      6px 10px 6px 10px;
    border-right: 1px dashed rgb(221, 221, 221);
    text-align:   right;
}

#my-affix .affix {
    top:   -20px;
    bottom: 0;
}

#content {
    max-width: 292px;
}

#content .content-text {
    padding: 10px 0;
}

#content ul {
    padding-left: 30px;
}

#content ul li {
    font-size:   15px;
    line-height: 25px;
}

#content a:link    { color: $link-color; }
#content a:visited { color: $link-visited-color; }
#content a:active  { color: $link-active-color; }
#content a:hover   { color: $link-hover-color; text-decoration: underline; }

// ========================================================
// Site footer:
// ========================================================

.site-footer {
    margin-top: 30px;
    border-top: 1px solid $separator-color;
    padding:    30px 0;
    text-align: justify;
}

.footer-heading {
    font-size:     24px;
    margin-bottom: 15px;
    margin-left:   40px;
    color:        $text-color;
}

.contact-list, .social-media-list {
    list-style:  none;
    line-height: 28px;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size:    15px;
    margin-left: -15px;
    color:        $text-color;
}

.footer-col {
    float:         left;
    margin-bottom: 15px;
    padding-left:  15px;
}

.footer-col-1, .footer-col-2 {
    width: -webkit-calc(50% - 15px);
    width:         calc(50% - 15px);

    // Clip the email address if the window gets minimized
    // to a point where we can't show the whole line.
    overflow:      hidden;
    text-overflow: clip;
}

.user-link {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

// ========================================================
// Stuff from the ABOUT page:
// ========================================================

#medium-pic {
    max-width:        320px;
    max-height:       260px;
    border:           5px solid $background-color;
    border-radius:    0;
    background-color: $background-color;
}

#profile-pic {
    max-width:        135px;
    max-height:       135px;
    margin-bottom:    25px;
    margin-right:     50px;
    border:           5px solid $background-color;
    border-radius:    0;
    background-color: $background-color;
}

#stackexchange-flair {
    max-width:        245px;
    max-height:       70px;
    margin-bottom:    10px;
    border:           none;
    border-radius:    0;
    background-color: $background-color;
}

// ========================================================
// SVG icons (Github/Bitbucket/etc) at the footer:
// ========================================================

.icon {
    svg {
        width:          28px;
        height:         28px;
        display:        inline-block;
        vertical-align: middle;
        padding-right:  8px;
    }
}

// ========================================================
// SCSS preprocessor includes:
// ========================================================

@import "slideshow";  // Slide-show styles.
@import "sizefix";    // Size fixes and adjustments for different screens/device.
@import "highlight";  // Source code syntax highlighting styles.

