
<!--
 Common scripts used by all pages.
 Scripts are included at the end of <body>
 (in footer.html), to avoid blocking other
 content downloads while the browser fetches
 the scripts.
-->

<!-- jQuery/Bootstrap: Use external CDNs to leverage parallel access. -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<!-- Common local site scripts: -->
<script type="text/javascript" src="{{ "/static/js/main.js" | prepend: site.baseurl }}"></script>

<!-- Google Analytics snippet: -->
<script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-66666921-1', 'auto');
    ga('send', 'pageview');
</script>

