
// ========================================================
// Site color scheme:
// ========================================================

$navbar-background-color: rgb(52, 57, 67) !default;
$navbar-text-color: rgb(240, 240, 240) !default;

$link-color: #009688 !default;
$link-visited-color: #026d64 !default;
$link-active-color: #009688 !default;
$link-hover-color: #04ad9c !default;

$headings-color: #009688 !default;
$text-color: rgb(174, 181, 188) !default;
$background-color: rgb(32, 36, 41) !default;

$separator-color: black !default;
$text-blockquote-color: rgb(157, 157, 157) !default;
$code-pre-quote-background-color: rgb(43, 47, 55) !default;

// ========================================================
// Site fonts:
// ========================================================

$site-base-font-family: "RobotoRegular", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$site-base-font-weight: normal;

@font-face {
    font-family: RobotoRegular;
    src: url("../static/fonts/roboto-regular.woff");
}

// ========================================================
// SCSS Mixins, common style blocks/macros:
// ========================================================

//
// Shadow effect used on images and embedded videos.
//
@mixin my-box-shadow {
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 0 25px rgba(0, 0, 0, 0.2) inset;
       -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 0 25px rgba(0, 0, 0, 0.2) inset;
         -o-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 0 25px rgba(0, 0, 0, 0.2) inset;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 0 25px rgba(0, 0, 0, 0.2) inset;
}

//
// Mouse hover transition used in the main page.
//
@mixin my-mouse-hover-transition {
    -webkit-transition: 0.4s ease;
       -moz-transition: 0.4s ease;
         -o-transition: 0.4s ease;
            transition: 0.4s ease;
}

//
// Site background/body.
//
@mixin my-site-body {
    background-color: $background-color;
    color: $text-color;
}

//
// Set a flex-box display in a portable way and
// aligns the content in the center of the parent box.
//
@mixin my-display-flex-center-align {
    display: -webkit-box;            // OLD - iOS 6-, Safari 3.1-6
    display: -moz-box;               // OLD - Firefox 19- (buggy but mostly works)
    display: -ms-flexbox;            // TWEENER - IE 10
    display: -webkit-flex;           // NEW - Chrome
    display: flex;                   // NEW, Spec - Opera 12.1, Firefox 20+

    -webkit-justify-content: center; // Safari 6.1+
    justify-content:         center; // Align horizontally

    -webkit-align-items:     center; // Safari 7.0+
    align-items:             center; // Align vertically
}

