---
layout: default
---

<div class="post-area post">
    <header>
        <h1>{{ page.title }}</h1>
        <!-- www.addthis.com social-medial toolbox: -->
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55d616567398a78b" async="async"></script>
        <div class="addthis_sharing_toolbox" style="min-height: 50px; padding-top: 10px;"></div>
    </header>
    <!-- Based on the default page layout, but overrides font-size to use a slightly larger font -->
    <article class="page-content" style="font-size:18px;">
        {{ content }}
    </article>
</div>
